:root {
	--border-color: #ffffff;
}

body {
	background-color: #A0D6AE;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Courier New', Courier, monospace;
	overflow: hidden;
}
button {
	font-family: 'Courier New', Courier, monospace;
	background-color: #9FE3C3;
	border: 2px solid var(--border-color);
	padding: 3px 5px 3px 7px;
	box-shadow: inset 1px 2px #25253880, 2px 2px #25253880;
}
button:active {
	box-shadow: inset 2px 3px #25253880, 1px 1px #25253880;
}
button:hover {
   background-color: rgba(159, 227, 195, 0.5);
}
.btn {
	font-family: 'Courier New', Courier, monospace;
	background-color: transparent;
	border: none;
	box-shadow: inset 2px 2px #e2e2e280, 2px 2px #2E2E2E80;
   /*prevent buttons from being highlighted*/
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.btn:active {
	box-shadow: inset 2px 2px #2E2E2E80, 2px 2px #e2e2e280;
}
.btn:hover {
   background-color: #aae4b9c2;
}
.readonly { /*prevent highlighting and text cursor*/
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* == === base window styles === == */

.window {
	width: fit-content;
	height: fit-content;
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #d1ffec;
	border: 3px solid var(--border-color);
	box-shadow: 10px 10px #25253880;
	/*white-space: nowrap;*/
	overflow: hidden;
}
.row {
	display: flex;
}

/*--------vHEADERv---------*/
.window-header {
	background-color: #59BA8C;
	border-bottom: 2px solid var(--border-color);
	color: white;
	box-shadow: inset 0px 3px #25253880, 0px 3px #25253880;
	padding: 8px 5px 4px 10px;

}
.window-header > div {
	flex-flow: row nowrap;
	justify-content: space-between;
}
.window-header > div > div {
	font-size: 125%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.window-title > img {
	padding: 0px 5px 0px 0px;
	transform: translate(0px, 2px);
}
.window-header > div > div + div {
	text-align: right;
	overflow: visible;
}
.window-header > div > div + div > button {
	font-weight: bolder;
	color: white;
	font-size: 90%;
	transform: translate(0px, -2px);
}
/*--------^HEADER^---------*/
/*-------vSUBHEADERv--------*/
.window-subheader {
	background-color: #9FE3C3;
	padding: 0px 0px 0px 10px;
	border-bottom: 2px solid var(--border-color);
	height: 15px;
}
.window-subheader > p {
	margin: 3px 0px 0px 0px;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
/*-------^SUBHEADER^--------*/
/*--------vCONTENTv---------*/
.window-content {
	padding: 10px 10px 0px 10px;
}

/* == === window overides === == */

#home {
	width: 700px;
	height: auto;
	white-space: inherit;
}
#home .column + .column {
	margin-left: 15px;
	overflow-wrap: break-word;
}
#home .window-content img {
	width: 250px;
	border: 3px solid var(--border-color);
	box-shadow: 3px 3px #25253880;
}
#test {
	width: 250px;
	height: 250px;
}
#todo {
	width: 500px;
}

#too {
	width: 400px;
}

#kinlist {
	width: 300px;
}
#kinlist .window-content > * {
	margin: 0px;
}